<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.googlecode.iterm2</string>
		<key>Name</key>
		<string>iTerm</string>
		<key>NewFile</key>
		<string>/Applications/iTerm.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.teamviewer.TeamViewer</string>
		<key>Name</key>
		<string>TeamViewer</string>
		<key>NewFile</key>
		<string>/Applications/TeamViewer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.SystemProfiler</string>
		<key>Name</key>
		<string>System Information</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/System Information.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.plexapp.plexmediaserver</string>
		<key>Name</key>
		<string>Plex Media Server</string>
		<key>NewFile</key>
		<string>/Applications/Plex Media Server.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.mozilla.firefox</string>
		<key>Name</key>
		<string>Firefox</string>
		<key>NewFile</key>
		<string>/Applications/Firefox.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.sublimetext.3</string>
		<key>Name</key>
		<string>Sublime Text</string>
		<key>NewFile</key>
		<string>/Applications/Sublime Text.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.sourceforge.skim-app.skim</string>
		<key>Name</key>
		<string>Skim</string>
		<key>NewFile</key>
		<string>/Applications/Skim.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.adobe.Lightroom5</string>
		<key>Name</key>
		<string>Adobe Photoshop Lightroom 5</string>
		<key>NewFile</key>
		<string>/Applications/Adobe Photoshop Lightroom 5.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.linvo.stremio</string>
		<key>Name</key>
		<string>Stremio</string>
		<key>NewFile</key>
		<string>/Applications/Stremio.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>se.popcorn-time.PopcornTime</string>
		<key>Name</key>
		<string>PopcornTime</string>
		<key>NewFile</key>
		<string>/Applications/PopcornTime.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Photos</string>
		<key>Name</key>
		<string>Photos</string>
		<key>NewFile</key>
		<string>/Applications/Photos.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Preferences</string>
		<key>NewFile</key>
		<string>/Applications/System Preferences.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.spotify.client</string>
		<key>Name</key>
		<string>Spotify</string>
		<key>NewFile</key>
		<string>/Applications/Spotify.app</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>java</string>
		<key>NewFile</key>
		<string>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/bin/java</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.m0k.transmission</string>
		<key>Name</key>
		<string>Transmission</string>
		<key>NewFile</key>
		<string>/Applications/Transmission.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.sandstudio.airdroid</string>
		<key>Name</key>
		<string>AirDroid</string>
		<key>NewFile</key>
		<string>/Applications/AirDroid.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.rstudio.RStudio</string>
		<key>Name</key>
		<string>RStudio</string>
		<key>NewFile</key>
		<string>/Applications/RStudio.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ActivityMonitor</string>
		<key>Name</key>
		<string>Activity Monitor</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Activity Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.appstore</string>
		<key>Name</key>
		<string>App Store</string>
		<key>NewFile</key>
		<string>/Applications/App Store.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.libreoffice.script</string>
		<key>Name</key>
		<string>LibreOffice</string>
		<key>NewFile</key>
		<string>/Applications/LibreOffice.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Preview</string>
		<key>Name</key>
		<string>Preview</string>
		<key>NewFile</key>
		<string>/Applications/Preview.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.evernote.Evernote</string>
		<key>Name</key>
		<string>Evernote</string>
		<key>NewFile</key>
		<string>/Applications/Evernote.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.matus-tomlein.Synkron</string>
		<key>Name</key>
		<string>Synkron</string>
		<key>NewFile</key>
		<string>/Applications/Synkron.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Chrome</string>
		<key>Name</key>
		<string>Google Chrome</string>
		<key>NewFile</key>
		<string>/Applications/Google Chrome.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.installer</string>
		<key>Name</key>
		<string>Installer</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Installer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Safari</string>
		<key>Name</key>
		<string>Safari</string>
		<key>NewFile</key>
		<string>/Applications/Safari.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.speedcrunch</string>
		<key>Name</key>
		<string>SpeedCrunch</string>
		<key>NewFile</key>
		<string>/Applications/SpeedCrunch.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.aone.keka</string>
		<key>Name</key>
		<string>Keka</string>
		<key>NewFile</key>
		<string>/Applications/Keka.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.adobe.PDApp</string>
		<key>Name</key>
		<string>Adobe Application Manager</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Adobe Application Manager/core/Adobe Application Manager.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.videolan.vlc</string>
		<key>Name</key>
		<string>VLC</string>
		<key>NewFile</key>
		<string>/Applications/VLC.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.Xcode</string>
		<key>Name</key>
		<string>Xcode</string>
		<key>NewFile</key>
		<string>/Applications/Xcode.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.pixelmatorteam.pixelmator</string>
		<key>Name</key>
		<string>Pixelmator</string>
		<key>NewFile</key>
		<string>/Applications/Pixelmator.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.TextEdit</string>
		<key>Name</key>
		<string>TextEdit</string>
		<key>NewFile</key>
		<string>/Applications/TextEdit.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.kovidgoyal.calibre</string>
		<key>Name</key>
		<string>calibre</string>
		<key>NewFile</key>
		<string>/Applications/calibre.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.yourcompany.unetbootin</string>
		<key>Name</key>
		<string>unetbootin</string>
		<key>NewFile</key>
		<string>/Applications/unetbootin.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Disk-Utility</string>
		<key>Name</key>
		<string>Disk Utility</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Disk Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.airport.airportutility</string>
		<key>Name</key>
		<string>AirPort Utility</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/AirPort Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>cx.c3.theunarchiver</string>
		<key>Name</key>
		<string>The Unarchiver</string>
		<key>NewFile</key>
		<string>/Applications/The Unarchiver.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.hegenberg.BetterTouchTool</string>
		<key>Name</key>
		<string>BetterTouchTool</string>
		<key>NewFile</key>
		<string>/Applications/BetterTouchTool.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.valvesoftware.steam</string>
		<key>Name</key>
		<string>Steam</string>
		<key>NewFile</key>
		<string>/Applications/Steam.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Preferences</string>
		<key>Name</key>
		<string>Karabiner Preferences</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner.app/Contents/Applications/Karabiner Preferences.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.sourceforge.grandperspectiv</string>
		<key>Name</key>
		<string>GrandPerspective</string>
		<key>NewFile</key>
		<string>/Applications/GrandPerspective.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.freemacsoft.AppCleaner</string>
		<key>Name</key>
		<string>AppCleaner</string>
		<key>NewFile</key>
		<string>/Applications/AppCleaner.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.sigil-ebook.Sigil.app</string>
		<key>Name</key>
		<string>Sigil</string>
		<key>NewFile</key>
		<string>/Applications/Sigil.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.calibre-ebook.ebook-viewer</string>
		<key>Name</key>
		<string>ebook-viewer</string>
		<key>NewFile</key>
		<string>/Applications/calibre.app/Contents/ebook-viewer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.amazon.Kindle</string>
		<key>Name</key>
		<string>Kindle</string>
		<key>NewFile</key>
		<string>/Applications/Kindle.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iBooksX</string>
		<key>Name</key>
		<string>iBooks</string>
		<key>NewFile</key>
		<string>/Applications/iBooks.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.xbmc.kodi</string>
		<key>Name</key>
		<string>Kodi</string>
		<key>NewFile</key>
		<string>/Applications/Kodi.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.tynsoe.GeekTool</string>
		<key>Name</key>
		<string>GeekTool</string>
		<key>NewFile</key>
		<string>/Applications/GeekTool.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.mail</string>
		<key>Name</key>
		<string>Mail</string>
		<key>NewFile</key>
		<string>/Applications/Mail.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.adobe.Photoshop</string>
		<key>Name</key>
		<string>Adobe Photoshop CS6</string>
		<key>NewFile</key>
		<string>/Applications/Adobe Photoshop CS6/Adobe Photoshop CS6.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.jetbrains.intellij.ce</string>
		<key>Name</key>
		<string>IntelliJ IDEA CE</string>
		<key>NewFile</key>
		<string>/Applications/IntelliJ IDEA CE.app</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>java</string>
		<key>NewFile</key>
		<string>~/Library/Caches/IdeaIC2016.1/restart/jre/bin/java</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.android.studio</string>
		<key>Name</key>
		<string>Android Studio</string>
		<key>NewFile</key>
		<string>/Applications/Android Studio.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.adastrafork.androidstudio</string>
		<key>Name</key>
		<string>Studio JDK 1.8</string>
		<key>NewFile</key>
		<string>~/Applications/Studio JDK 1.8.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.metaclassy.byword</string>
		<key>Name</key>
		<string>Byword</string>
		<key>NewFile</key>
		<string>/Applications/Byword.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.gog.galaxy</string>
		<key>Name</key>
		<string>GalaxyClient</string>
		<key>NewFile</key>
		<string>/Applications/GalaxyClient.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>Name</key>
		<string>Keyboard Maestro</string>
		<key>NewFile</key>
		<string>/Applications/Keyboard Maestro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Viveza2.app</string>
		<key>Name</key>
		<string>Viveza 2</string>
		<key>NewFile</key>
		<string>/Applications/Nik Collection/Viveza 2.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.aep2.app</string>
		<key>Name</key>
		<string>Analog Efex Pro 2</string>
		<key>NewFile</key>
		<string>/Applications/Nik Collection/Analog Efex Pro 2.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.sep2.app</string>
		<key>Name</key>
		<string>Silver Efex Pro 2</string>
		<key>NewFile</key>
		<string>/Applications/Nik Collection/Silver Efex Pro 2.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.cep4.app</string>
		<key>Name</key>
		<string>Color Efex Pro 4</string>
		<key>NewFile</key>
		<string>/Applications/Nik Collection/Color Efex Pro 4.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.bootcampassistant</string>
		<key>Name</key>
		<string>Boot Camp Assistant</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Boot Camp Assistant.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ScriptEditor2</string>
		<key>Name</key>
		<string>Script Editor</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Script Editor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>fr.handbrake.HandBrake</string>
		<key>Name</key>
		<string>HandBrake</string>
		<key>NewFile</key>
		<string>/Applications/HandBrake.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.gog.galaxy.updater</string>
		<key>Name</key>
		<string>GalaxyUpdater</string>
		<key>NewFile</key>
		<string>/Users/Shared/GOG.com/Galaxy/temp/desktop-galaxy-updater/GalaxyUpdater.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.gog.galaxy.updater</string>
		<key>Name</key>
		<string>GalaxyUpdater</string>
		<key>NewFile</key>
		<string>/Users/Shared/GOG.com/Galaxy/redists/GalaxyUpdater.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Console</string>
		<key>Name</key>
		<string>Console</string>
		<key>NewFile</key>
		<string>/Applications/Utilities/Console.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.blurb.bookwright</string>
		<key>Name</key>
		<string>BookWright</string>
		<key>NewFile</key>
		<string>/Applications/BookWright.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.WebKit.Networking</string>
		<key>Name</key>
		<string>com.apple.WebKit.Networking</string>
		<key>NewFile</key>
		<string>/System/Library/Frameworks/WebKit.framework/Versions/A/XPCServices/com.apple.WebKit.Networking.xpc</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iTunes</string>
		<key>Name</key>
		<string>iTunes</string>
		<key>NewFile</key>
		<string>/Applications/iTunes.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.preferences.sharing.remoteservice</string>
		<key>Name</key>
		<string>com.apple.preferences.sharing.remoteservice</string>
		<key>NewFile</key>
		<string>/System/Library/PreferencePanes/SharingPref.prefPane/Contents/XPCServices/com.apple.preferences.sharing.remoteservice.xpc</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.QuickTimePlayerX</string>
		<key>Name</key>
		<string>QuickTime Player</string>
		<key>NewFile</key>
		<string>/Applications/QuickTime Player.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.Google.GoogleEarthPro</string>
		<key>Name</key>
		<string>Google Earth Pro</string>
		<key>NewFile</key>
		<string>/Applications/Google Earth Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Image_Capture</string>
		<key>Name</key>
		<string>Image Capture</string>
		<key>NewFile</key>
		<string>/Applications/Image Capture.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.R-project.R</string>
		<key>Name</key>
		<string>R</string>
		<key>NewFile</key>
		<string>/Applications/R.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.appkit.xpc.openAndSavePanelService</string>
		<key>Name</key>
		<string>com.apple.appkit.xpc.openAndSavePanelService</string>
		<key>NewFile</key>
		<string>/System/Library/Frameworks/AppKit.framework/Versions/C/XPCServices/com.apple.appkit.xpc.openAndSavePanelService.xpc</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.security.pboxd</string>
		<key>Name</key>
		<string>com.apple.security.pboxd</string>
		<key>NewFile</key>
		<string>/System/Library/PrivateFrameworks/RemoteViewServices.framework/XPCServices/com.apple.security.pboxd.xpc</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.andymatuschak.sparkle.finish-installation</string>
		<key>Name</key>
		<string>finish_installation</string>
		<key>NewFile</key>
		<string>~/Library/Application Support/Asepsis/finish_installation.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.virtualbox.app.VirtualBoxVM</string>
		<key>Name</key>
		<string>VirtualBoxVM</string>
		<key>NewFile</key>
		<string>/Applications/VirtualBox.app/Contents/Resources/VirtualBoxVM.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.virtualbox.app.VirtualBox</string>
		<key>Name</key>
		<string>VirtualBox</string>
		<key>NewFile</key>
		<string>/Applications/VirtualBox.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.archiveutility</string>
		<key>Name</key>
		<string>Archive Utility</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Applications/Archive Utility.app</string>
	</dict>
</array>
</plist>
